html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.2;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Wrapper */

.wrapper {
  width: 100%;
}

/* Header */

header {
  width: 100%;
  height: 150px;
  background: #808080;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: center;
}

.logo h1 {
  font-size: 42px;
  margin: 0 25px 0 0;
}

header nav {
  flex: 3;
}

header nav .nav-list {
  display: flex;
}

.nav-list .nav-list-item {
  flex: 1;
  text-align: center;
  font-size: 34px;
}

.nav-list-item button {
  font-size: 26px;
  padding: 5px 15px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
}

/* Main */

.latest {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #808080;
}

.latest h1 {
  left: 0;
  margin: left;
}

.latest .h1 .span {
  background-color: #fff;
  padding: 0.3em 0.4em;
  line-height: 1.5em;
}

.latest-article {
  flex-basis: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  padding: 0 4%;
  box-sizing: border-box;
  text-align: center;
}

.best-posts {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.best-posts .post {
  padding: 0 25px;
  flex: 1;
}

.post h2 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
}

.post p {
  font-size: 24px;
}

.ads-block-1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.ads-block-1 .ad-small,
.ads-block-1 .ad-large {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #adadad;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}

.ads-block-1 .ad-small {
  width: 300px;
  height: 300px;
}

.ads-block-1 h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ads-block-1 button {
  margin-top: 25px;
  padding: 5px 15px;
}

.ads-block-1 .ad-large {
  width: 650px;
  height: 650px;
}

.ad-large p {
  font-size: 22px;
}

.coming-next {
  margin-top: 70px;
  width: 100%;
  background: silver;
  text-align: center;
  padding: 150px 60px;
}

.coming-next h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 35px 0;
}

.person.week {
  width: 80%;
  margin-left: 40px;
  margin-top: 60px;
}

.week .person-avatar {
  height: 250px;
  flex-basis: 250px;
}

.best {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.person {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  padding: 20px;
}

.person-avatar {
  width: 74px;
  height: 74px;
  background: silver;
}

.person-about {
  flex: 1;
  margin-left: 30px;
}

.person-about .person-desc {
  font-size: 28px;
  display: block;
  margin-bottom: 25px;
}

/*Section*/

section {
  display: block;
}

body p {
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

.h1 {
  font-size: calc(1.625rem + 1.6vw);
  margin: 0;
}

h2 {
  font-size: calc(1.375rem + 1.6vw);
  margin: 0;
}

.btn--white {
  background: #fff;
  color: #808080;
  border: 1px solid #fff;
  text-shadow: none;
}

a.btn--white {
  background: #fff;
}

.feature-panel::before {
  position: absolute;
  left: 0;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  top: -12px;
  content: "Caution: shameless plug ahead! Continue reading below ↓";
  font-size: 0.7em;
  color: #666;
  padding-bottom: 10px;
}

.feature-panel::before {
  border-bottom: 8px solid #eee;
}

.feature-panel {
  position: relative;
  border-radius: 11px;
  padding: 2.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}

@media (min-width: 1000px) {
  .feature-panel::before {
    width: 73%;
  }
  .feature-panel {
    padding: 2.5em 3.5em;
  }
}

.feature-panel--red::before {
  display: none;
}

.feature-panel--red {
  padding: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #808080;
  border-radius: 0;
  color: #fff;
  padding: 2.5em 3.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.feature-panel-left-col,
.feature-panel-right-col {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  position: relative;
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.feature-panel-right-col {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1em;
}

@media (min-width: 800px) {
  .feature-panel-left-col {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    padding: 0 1em;
  }
  .feature-panel-right-col {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin: 0;
  }
}

.feature-panel-meta {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  font-weight: 700;
  display: block;
  margin-bottom: 0.75em;
}

.feature-panel-title a,
.feature-panel-title a:visited {
  color: #fff;
  text-decoration: none;
  background-image: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#fff)
  );
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  background-size: 100% 4px;
}

.feature-panel-description {
  margin-bottom: calc(1em + 0.5vw);
}

.feature-panel-description > :first-child {
  margin-top: 0;
}

.feature-panel-description > :last-child {
  margin-bottom: 0;
}

.feature-panel a:not(.btn):not(.toolbar-item) {
  text-shadow: 3px 0 #f6f6f6, 2px 0 #f6f6f6, 1px 0 #f6f6f6, -1px 0 #f6f6f6,
    -2px 0 #f6f6f6, -3px 0 #f6f6f6;
}

.feature-panel-image-link {
  position: relative;
  text-decoration: none;
  width: 100%;
  max-width: 210px;
  padding-left: 2.5em;
  background-image: none;
}

.feature-panel-image-link::before {
  display: block;
  content: "";
  height: 90%;
  width: 160%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 89%;
  left: -30%;
  right: 0;
  -webkit-transform-origin: 30% 50%;
  transform-origin: 30% 50%;
}

.feature-panel-image-link::before {
  top: 85%;
  left: -33%;
}

@media (min-width: 1000px) {
  .feature-panel-image-link {
    position: absolute;
    max-width: 19.375rem;
    top: -160px;
    right: 0;
  }
  .feature-panel--breakout-small .feature-panel-image-link {
    top: -100px;
  }
}

.feature-panel-image {
  width: 100%;
  max-width: 19.375rem;
  margin: 0 auto;
  display: block;
  will-change: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

section {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

strong {
  font-weight: inherit;
}

strong {
  font-weight: bolder;
  letter-spacing: 0.25px;
}

img {
  border-style: none;
}

img {
  max-width: 100%;
}

:focus {
  outline: #808080 dotted 3px !important;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body p {
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

body h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h2 {
  line-height: 1.2;
}

p {
  margin: calc(1em + 0.5vw) 0;
}

strong {
  letter-spacing: 0;
}

a {
  text-decoration: none;
  padding: 10px 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(currentColor),
    to(currentColor)
  );
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff,
    -3px 0 #fff;
  color: #808080;
}

h2 {
  font-size: calc(1.375rem + 1.6vw);
  margin: 0;
  font-family: Calibri Bold, AvenirNext, Avenir, -apple-system,
    BlinkMacSystemFont, Roboto Slab, Droid Serif, Segoe UI, Oxygen-Sans, Ubuntu,
    Cantarell, Georgia, serif;
}

@media all and (min-width: 1550px) {
  h2 {
    font-size: 2.14857em;
  }
}

.btn {
  display: inline-block;
  border-radius: 11px;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  border: none;
  font-weight: 700;
  background: 0 0;
  background-color: #808080;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f88040),
    to(#d33a2c)
  );
  background-image: linear-gradient(to bottom, #f88040, #d33a2c);
  font-size: 0.9em;
  outline: 0;
  font-family: Calibri Bold, AvenirNext, Avenir, -apple-system,
    BlinkMacSystemFont, Roboto Slab, Droid Serif, Segoe UI, Oxygen-Sans, Ubuntu,
    Cantarell, Georgia, serif;
}

.btn.btn--large {
  font-size: calc(1em + 0.25vw);
  padding: 0.75em 1em;
}

a.btn {
  text-shadow: none;
}

img {
  position: relative;
}

img::before {
  height: 2.5em;
  display: block;
  top: 2em;
  content: " ";
  width: 100%;
  z-index: 2;
  left: 0;
}

img::after {
  font-size: 0.8em;
  display: block;
  color: #666;
  line-height: 1.5;
  position: absolute;
  font-style: italic;
  z-index: 2;
  top: calc(2em - 35px);
  text-align: center;
  left: 0;
  width: 100%;
  padding: 2em 1em;
  text-shadow: none;
  background-color: #eee;
  border: 1px dotted #ccc;
}

article {
  display: block;
}

article {
  display: block;
}

body li,
body p {
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

.l-bio-image--small .bio-image {
  --bio-image-border-width: 5px;
  --bio-image-border-radius: 11px;
}

article {
  display: block;
}

figure {
  display: block;
}

figure {
  margin: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

img {
  max-width: 100%;
}

:focus {
  outline: #808080 dotted 3px !important;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body li,
body p {
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}

body h1,
body h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1,
body h2 {
  line-height: 1.2;
}

p {
  margin: calc(1em + 0.5vw) 0;
}

figure {
  margin: 0;
  padding: 0;
}

figure:after,
figure:before {
  content: " ";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  padding: 10px 0;
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff,
    -3px 0 #fff;
  color: #808080;
}

h1 {
  font-size: calc(1.625rem + 1.6vw);
  margin: 0;
}

h2 {
  font-size: calc(1.375rem + 1.6vw);
  margin: 0;
}

@media all and (min-width: 1550px) {
  h1 {
    font-size: 2.13894em;
  }
  h2 {
    font-size: 2.14857em;
  }
}

ul {
  padding: 0;
  margin: 1em 0;
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: calc(1.4em + 0.7vw);
}

ul > li {
  margin-bottom: 0.5em;
  padding-left: 0.25em;
}

img {
  position: relative;
}

img::before {
  height: 2.5em;
  display: block;
  top: 2em;
  content: " ";
  width: 100%;
  z-index: 2;
  left: 0;
}

img::after {
  font-size: 0.8em;
  display: block;
  color: #666;
  line-height: 1.5;
  position: absolute;
  font-style: italic;
  z-index: 2;
  top: calc(2em - 35px);
  text-align: center;
  left: 0;
  width: 100%;
  padding: 2em 1em;
  text-shadow: none;
  background-color: #eee;
  border: 1px dotted #ccc;
}

.featured-articles-container {
  position: relative;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 0;
}

.featured-articles__teaser {
  text-align: center;
  font-size: calc(26px + (30 - 26) * (100vw - 350px) / (1300 - 350));
  margin-top: 50px;
  position: absolute;
  left: 50%;
  margin-left: -190px;
  width: 15em;
  letter-spacing: -1px;
  z-index: 11;
}

.featured-articles__teaser span {
  background-color: #fff;
  padding: 0.3em 0.4em;
  line-height: 1.5em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.enhanced .featured-articles__teaser {
  left: 0;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media all and (max-width: 350px) {
  .featured-articles__teaser {
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
  .enhanced .featured-articles__teaser {
    left: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
    width: 100%;
    text-align: center;
  }
}

.featured-articles__teaser::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 60% 30%;
  background-size: 60%;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  opacity: 0.9;
}

.featured-article {
  color: #fff;
  position: relative;
  font-weight: 700;
  display: block;
  padding: 10em 5vw 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.featured-article:after,
.featured-article:before {
  content: " ";
  display: table;
  clear: both;
}

@media all and (max-width: 1919px) {
  .featured-article:nth-of-type(3),
  .featured-article:nth-of-type(4) {
    padding-top: 3em;
  }
}

@media all and (max-width: 1025px) {
  .featured-articles__teaser {
    top: 1em;
    margin-top: 20px;
  }
  .featured-article {
    padding: 3em 5vw 4em;
  }
}

@media (max-width: 64rem) {
  .featured-article:first-of-type,
  .featured-article:nth-of-type(2) {
    padding-top: 10em;
  }
}

@media all and (max-width: 767px) {
  .featured-article {
    min-width: 100%;
  }
  .featured-article:nth-of-type(2) {
    padding-top: 3em;
  }
}

.featured-article a {
  background: 0 0;
  text-shadow: none;
  color: inherit;
  padding: 0;
  color: inherit;
  position: relative;
  z-index: 1;
}

.featured-article:nth-of-type(3n + 1) {
  background-color: #808080;
}

.featured-article:nth-of-type(3n + 2) {
  background-color: #505050;
}

.featured-article:nth-of-type(3n + 3) {
  background-color: #808080;
}

@media all and (min-width: 768px) {
  .featured-article {
    width: 50%;
  }
}

@media all and (min-width: 1920px) {
  .featured-article {
    width: 33.33%;
  }
  .featured-article:nth-of-type(3n + 3) {
    display: none;
  }
}

.featured-article__tags {
  clear: both;
  padding-top: 1em;
  margin: 1em 0;
  padding-left: 0;
  line-height: 1.8;
}

.featured-article .wrote {
  font-style: italic;
  font-weight: 400;
}

.featured-article__tag {
  margin: 0;
  margin-right: 1em;
  padding: 0;
  font-size: 0.8em;
  line-height: 1.6;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
}

.featured-article__tag__count {
  color: inherit;
  font-weight: 700;
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}

.featured-article__intro {
  display: inline-block;
  float: none;
  vertical-align: middle;
  white-space: initial;
  margin: 1em 0 0 0.6em;
}

a.featured-article__author-name {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.featured-article__title {
  margin: 0.5em 0 -0.25em;
}

.featured-article__title .featured-article__title__a {
  color: #fff;
  text-shadow: none;
  background: 0 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  position: static;
}

.featured-article__title .featured-article__title__a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.featured-article__title .featured-article__title__a::after {
  content: "→";
  display: block;
  width: 100px;
  color: #fff;
  font-size: 1em;
  padding: 0;
  position: absolute;
  bottom: 1em;
}

a.featured-article__comments-count {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  padding: 5px;
  font-size: 0.35em;
  margin: 0.625em 0;
  padding-left: 1.75em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyAyOC43MyIgd2lkdGg9IjI4IiBoZWlnaHQ9IjI4Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZn08L3N0eWxlPjwvZGVmcz48dGl0bGU+Y29tbWVudDwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNOTYwLjMzIDI1Mi4zM2gtNC41MmwuMDYgNy43My02LjY5LTcuNzNoLTkuODVhMyAzIDAgMCAxLTMtM3YtMTVhMyAzIDAgMCAxIDMtM2gyMWEzIDMgMCAwIDEgMyAzdjE1YTMgMyAwIDAgMS0zIDN6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOTM2LjMzIC0yMzEuMzMpIi8+PC9zdmc+);
  background-position: left top 70%;
  background-size: 1.25em;
  background-repeat: no-repeat;
}

.article__tag {
  font-size: calc(0.8em + 0.35vw);
  font-weight: 700;
  margin-right: 0.75em;
  display: inline-block;
  white-space: nowrap;
  padding-left: 0;
}

.article__tag:first-child {
  padding-left: 0;
}

.article__tag::before {
  content: "#";
  color: #808080;
  margin-right: 0.25em;
  font-size: 0.8em;
}

@media (max-width: 40rem) {
  a.featured-article__comments-count {
    font-size: 0.55em;
    margin: 0.625em 0.25em;
  }
}

.nowrap {
  white-space: nowrap;
}

.nowrap::after,
.nowrap::before {
  content: " ";
  display: table;
  clear: both;
}

.float--left {
  float: left;
}

.bio-image {
  --bio-image-border-color: #808080;
  --bio-image-border-width: 5px;
}

.l-bio-image--small {
  width: 85px;
}

.l-bio-image--small .bio-image {
  --bio-image-border-width: 5px;
  --bio-image-border-radius: 11px;
}

.bio-image,
.bio-image *,
.bio-image::after,
.bio-image::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bio-image {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
}

.bio-image::before {
  display: block;
  content: "";
  height: 90%;
  width: 160%;
  position: absolute;
  background-image: url(https://d33wubrfki0l68.cloudfront.net/10f9f40f8856e393ab4525a46bd8e60af9580324/0ab7a/images/shadow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 89%;
  left: -30%;
  right: 0;
  -webkit-transform-origin: 30% 50%;
  transform-origin: 30% 50%;
}

@media screen and (min-width: 40rem) {
  .bio-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 64rem) {
  .bio-image {
    display: block;
  }
}

.bio-image--white {
  --bio-image-border-color: #fff;
}

.bio-image--white a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: center bottom 29%;
  background-origin: padding-box;
}

.bio-image-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

a.bio-image-link {
  background: 0 0;
  text-shadow: none;
  color: inherit;
  padding: 0;
  display: block;
  width: 100%;
}

.guides {
  display: flex;
  flex-wrap: wrap;
}

.guide {
  flex: 1;
  flex-basis: 50%;
  padding: 20px 40px;
}

.guide .guide-title {
  /* text-align: center; */
  font-size: 32px;
}

.guide .guide-list {
  list-style: circle;
  padding-left: 100px;
}

.guide-list_item a {
  color: #006fc6;
  font-size: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 985px;
  height: 800px;
  margin: 50px 90px;
  text-align: center;
  background: #adadad;
  border-radius: 15px;
}

.newsletter-title {
  font-size: 36px;
  margin-top: 50px;
}

.newsletter-form {
  display: flex;
  align-items: flex-end;
  margin: auto 0 80px;
  background: #fff;
  width: 40%;
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
}

.newsletter-form input {
  width: 60%;
  height: 100%;
}

.newsletter-form button {
  width: 42%;
  height: 100%;
}

/* Footer */

footer {
  padding: 70px 40px;
  text-align: center;
  background: #808080;
  color: #fff;
}

.footer-title {
  text-align: center;
  font-size: 22px;
}

.footer-taglist,
.footer-link_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: circle;
  margin-bottom: 50px;
}

.footer-link_list {
  padding: 0 150px;
  overflow: hidden;
}

.taglist-item,
.link_list-item {
  margin: 0 20px;
}
